# Credit Score Classification

#### About Dataset

**Problem Statement**
- You are working as a data scientist in a global finance company. Over the years, the company has collected basic bank details and gathered a lot of credit-related information. The management wants to build an intelligent system to segregate the people into credit score brackets to reduce the manual efforts.

**Task**
- Given a personâ€™s credit-related information, build a machine learning model that can classify the credit score.

**Features Information**

- **ID -- Represents a unique identification of an entry**
- **Customer_ID -- Represents a unique identification of a person**
- **Month -- Represents the month of the year**
- **Name -- Represents the name of a person**
- **Age -- Represents the age of the person**
- **SSN -- Represents the social security number of a person**
- **Occupation -- Represents the occupation of the person**
- **Annual_Income -- Represents the annual income of the person**
- **Monthly_Inhand_Salary --Represents the monthly base salary of a person**
- **Num_Bank_Accounts -- Represents the number of bank accounts a person holds**
- **Num_Credit_Card --Represents the number of other credit cards held by a person**
- **Interest_Rate -- Represents the interest rate on credit card**
- **Num_of_Loan -- Represents the number of loans taken from the bank**
- **Type_of_Loan -- Represents the types of loan taken by a person**
- **Delay_from_due_date -- Represents the average number of days delayed from the payment date**
- **Num_of_Delayed_Payment -- Represents the average number of payments delayed by a person**
- **Changed_Credit_Limit -- Represents the percentage change in credit card limit**
- **Num_Credit_Inquiries -- Represents the number of credit card inquiries**
- **Credit_Mix --Represents the classification of the mix of credits**
- **Outstanding_Debt -- Represents the remaining debt to be paid (in USD)**
- **Credit_Utilization_Ratio -- Represents the utilization ratio of credit card**
- **Credit_History_Age -- Represents the age of credit history of the person**
- **Payment_of_Min_Amount -- Represents whether only the minimum amount was paid by the person**
- **Total_EMI_per_month -- Represents the monthly EMI payments (in USD)**
- **Amount_invested_monthly -- Represents the monthly amount invested by the customer (in USD)**
- **Payment_Behaviour -- Represents the payment behavior of the customer (in USD)**
- **Monthly_Balance -- Represents the monthly balance amount of the customer (in USD)**
- **Credit_Score --Represents the bracket of credit score (Poor, Standard, Good)**

## Import libraries

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Load Dataset

In [32]:
pd.set_option('display.max_columns', None)

In [33]:
df = pd.read_csv('./dataset.csv')
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

-------

## Data Preprocessing

### Data Errors Handling

- Some missing values in Name column, monthly inhand salary,Type_of_Loan, Num_of_Delayed_Payment, Num_Credit_Inquiries, Credit_History_Age, Amount_invested_monthly, Monthly_Balance
- Convert Age, Num of loan, Num_of_Delayed_Payment into INT
- Convert Annual income, Changed_Credit_Limit, Outstanding_Debt, Amount_invested_monthly, Monthly_Balance into Float

Convert the object dtype column into INT

In [34]:
into_int = ['Age', 'Num_of_Loan', 'Num_of_Delayed_Payment', 'Num_Bank_Accounts','Num_Credit_Card','Interest_Rate','Delay_from_due_date']

df[into_int] = df[into_int].apply(pd.to_numeric, errors='coerce').astype('Int64')

Convert the object dtype column into Float

In [35]:
into_float = ['Annual_Income', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

df[into_float] = df[into_float].apply(pd.to_numeric, errors='coerce')

### Summary of Dataset

In [36]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       95061 non-null   Int64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             93020 non-null   float64
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  Int64
 10  Num_Credit_Card           100000 non-null  Int64
 11  Interest_Rate             100000 non-null  Int64
 12  Num_of_Loan               95215 non-null   Int64
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  Int64
 15  Num_of_Delayed_Payment    90254 non-null   Int64
 16  Changed_Credit_Limit      97909 non-null   float64
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          98991 non-null   float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   91216 non-null   float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98791 non-null   float64
 27  Credit_Score              100000 non-null  object
dtypes: Int64(7), float64(9), object(12)
memory usage: 22.0+ MB

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,95061.0,9.302000e+04,84998.000000,100000.0,100000.0,100000.0,95215.0,100000.0,90254.0,97909.000000,98035.000000,98991.000000,100000.000000,100000.000000,91216.000000,98791.000000
mean,110.934505,1.785790e+05,4194.170850,17.09128,22.47443,72.46604,2.780339,21.06878,31.033051,10.389025,27.754251,1426.503700,32.285173,1403.118217,195.539456,402.551258
std,689.407864,1.442878e+06,3183.686167,117.404834,129.05741,466.422621,62.50094,14.860104,226.955758,6.789496,193.177339,1155.045753,5.116875,8306.041270,199.564527,213.925499
min,-500.0,7.005930e+03,303.645417,-1.0,0.0,1.0,-100.0,-5.0,-3.0,-6.490000,0.000000,0.230000,20.000000,0.000000,0.000000,0.007760
25%,24.0,1.943560e+04,1625.568229,3.0,4.0,8.0,1.0,10.0,9.0,5.320000,3.000000,566.080000,28.052567,30.306660,72.236692,270.106630
50%,33.0,3.755074e+04,3093.745000,6.0,5.0,13.0,3.0,18.0,14.0,9.400000,6.000000,1166.370000,32.305784,69.249473,128.954538,336.731225
75%,42.0,7.284338e+04,5957.448333,7.0,7.0,20.0,5.0,28.0,18.0,14.870000,9.000000,1948.200000,36.496663,161.224249,236.815814,470.262938
max,8698.0,2.419806e+07,15204.633333,1798.0,1499.0,5797.0,1496.0,67.0,4397.0,36.970000,2597.000000,4998.070000,50.000000,82331.000000,1977.326102,1602.040519

- We have 1 Lac instances of 28 Features
- 7 Int, 9 Float, 12 object dtypes

In [75]:
num = df.select_dtypes(include=['number']).columns

for i in num:
    print(f'{i}: {df[i].nunique()}')
    print(f'Values Counts of: {df[i].value_counts()}')
    print(f'Unique values: {df[i].unique()}')
    

    print('=' * 70)
    print('\n')

Age: 1661
Values Counts of: Age
38      2833
28      2829
31      2806
26      2792
32      2749
        ...
5741       1
7178       1
5621       1
1908       1
1342       1
Name: count, Length: 1661, dtype: Int64
Unique values: <IntegerArray>
[  23, -500, <NA>,   28,   34,   54,   55,   21,   31,   33,
 ...
 6135,  920, 4402, 8490, 2406, 8315, 8425, 6476, 2263, 1342]
Length: 1662, dtype: Int64
======================================================================


Annual_Income: 13437
Values Counts of: Annual_Income
17273.83       16
20867.67       16
36585.12       16
95596.35       15
9141.63        15
               ..
14855994.00     1
21725043.00     1
16237903.00     1
4894060.00      1
12029909.00     1
Name: count, Length: 13437, dtype: int64
Unique values: [19114.12 34847.84      nan ... 37188.1  20002.88 39628.99]
======================================================================


Monthly_Inhand_Salary: 13235
Values Counts of: Monthly_Inhand_Salary
6769.130000    15
6358.956667    15
2295.058333    15
6082.187500    15
3080.555000    14
               ..
1087.546445     1
3189.212103     1
5640.117744     1
7727.560450     1
2443.654131     1
Name: count, Length: 13235, dtype: int64
Unique values: [1824.84333333           nan 3037.98666667 ... 3097.00833333 1929.90666667
 3359.41583333]
======================================================================


Num_Bank_Accounts: 943
Values Counts of: Num_Bank_Accounts
6       13001
7       12823
8       12765
4       12186
5       12118
        ...
1626        1
1470        1
887         1
211         1
697         1
Name: count, Length: 943, dtype: Int64
Unique values: <IntegerArray>
[  3,   2,   1,   7,   4,   0,   8,   5,   6,   9,
 ...
 472, 453, 463,  75, 756, 296, 891, 813, 474, 697]
Length: 943, dtype: Int64
======================================================================


Num_Credit_Card: 1179
Values Counts of: Num_Credit_Card
5       18459
7       16615
6       16559
4       14030
3       13277
        ...
791         1
1118        1
657         1
640         1
679         1
Name: count, Length: 1179, dtype: Int64
Unique values: <IntegerArray>
[   4, 1385,    5, 1288,    1,    7,    6, 1029,  488,    8,
 ...
  855,  726,  182,  443,  650, 1227,  686,  955, 1430,  679]
Length: 1179, dtype: Int64
======================================================================


Interest_Rate: 1750
Values Counts of: Interest_Rate
8       5012
5       4979
6       4721
12      4540
10      4540
        ...
4995       1
1899       1
2120       1
5762       1
5729       1
Name: count, Length: 1750, dtype: Int64
Unique values: <IntegerArray>
[   3,    6,    8,    4,    5, 5318,   15,    7,   12,   20,
 ...
 4714, 4962,  101, 3202, 2372, 4017, 5616, 1347,  387, 5729]
Length: 1750, dtype: Int64
======================================================================


Num_of_Loan: 399
Values Counts of: Num_of_Loan
3       14386
2       14250
4       14016
0       10380
1       10083
        ...
1444        1
392         1
841         1
1015        1
966         1
Name: count, Length: 399, dtype: Int64
Unique values: <IntegerArray>
[   4,    1,    3,  967, -100,    0, <NA>,    2,    7,    5,
 ...
  917,  657,   56,   18,   41,  801,  978,  216,  349,  966]
Length: 400, dtype: Int64
======================================================================


Delay_from_due_date: 73
Values Counts of: Delay_from_due_date
15    3596
13    3424
8     3324
14    3313
10    3281
      ...
-4      62
65      56
-5      33
66      32
67      22
Name: count, Length: 73, dtype: Int64
Unique values: <IntegerArray>
[ 3, -1,  5,  6,  8,  7, 13, 10,  0,  4,  9,  1, 12, 11, 30, 31, 34, 27, 14,
  2, -2, 16, 17, 15, 23, 22, 21, 18, 19, 52, 51, 48, 53, 26, 43, 28, 25, 20,
 47, 46, 49, 24, 61, 29, 50, 58, 45, 59, 55, 56, 57, 54, 62, 65, 64, 67, 36,
 41, 33, 32, 39, 44, 42, 60, 35, 38, -3, 63, 40, 37, -5, -4, 66]
Length: 73, dtype: Int64
======================================================================


Num_of_Delayed_Payment: 698
Values Counts of: Num_of_Delayed_Payment
19      5327
17      5261
16      5173
10      5153
18      5083
        ...
1530       1
1502       1
4075       1
3845       1
2047       1
Name: count, Length: 698, dtype: Int64
Unique values: <IntegerArray>
[   7, <NA>,    4,    6,    1,   -1,    0,    8,    5,    3,
 ...
  217, 1389, 1579, 3391, 2385, 3336, 3392, 3688,  221, 2047]
Length: 699, dtype: Int64
======================================================================


Changed_Credit_Limit: 4375
Values Counts of: Changed_Credit_Limit
 8.22     133
 11.50    127
 11.32    126
 10.06    121
 7.35     121
         ...
 31.56      1
 32.56      1
 20.66      1
-0.72       1
 21.17      1
Name: count, Length: 4375, dtype: int64
Unique values: [11.27   nan  6.27 ... 17.51 25.16 21.17]
======================================================================


Num_Credit_Inquiries: 1223
Values Counts of: Num_Credit_Inquiries
4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
1721.0        1
1750.0        1
2397.0        1
621.0         1
74.0          1
Name: count, Length: 1223, dtype: int64
Unique values: [   4.    2.    3. ... 1361.  310.   74.]
======================================================================


Outstanding_Debt: 12203
Values Counts of: Outstanding_Debt
1360.45    24
1109.03    23
460.46     23
1151.70    23
2536.84    16
           ..
533.41      6
4632.72     6
4138.67     6
3549.71     6
396.97      5
Name: count, Length: 12203, dtype: int64
Unique values: [ 809.98  605.03 1303.01 ...  620.64 3571.7   502.38]
======================================================================


Credit_Utilization_Ratio: 100000
Values Counts of: Credit_Utilization_Ratio
26.822620    1
28.327949    1
30.016576    1
25.478841    1
33.933755    1
            ..
30.687138    1
38.730069    1
30.017515    1
27.279794    1
34.192463    1
Name: count, Length: 100000, dtype: int64
Unique values: [26.82261962 31.94496006 28.60935202 ... 41.25552226 33.63820798
 34.19246265]
======================================================================


Total_EMI_per_month: 14950
Values Counts of: Total_EMI_per_month
0.000000        10613
49.574949           8
73.533361           8
22.960835           8
38.661127           8
                ...
36408.000000        1
23760.000000        1
24612.000000        1
24325.000000        1
58638.000000        1
Name: count, Length: 14950, dtype: int64
Unique values: [4.95749492e+01 1.88162146e+01 2.46992319e+02 ... 1.21120000e+04
 3.51040226e+01 5.86380000e+04]
======================================================================


Amount_invested_monthly: 91048
Values Counts of: Amount_invested_monthly
0.000000      169
80.415295       1
189.419067      1
89.738489       1
59.937259       1
             ...
36.541909       1
93.451163       1
140.809722      1
38.739377       1
167.163865      1
Name: count, Length: 91048, dtype: int64
Unique values: [ 80.41529544 118.28022162  81.69952126 ...  24.02847745 251.6725822
 167.16386516]
======================================================================


Monthly_Balance: 98791
Values Counts of: Monthly_Balance
312.494089    1
270.911014    1
254.970922    1
250.093168    1
289.755075    1
             ..
366.289038    1
151.188270    1
306.750279    1
278.872026    1
393.673696    1
Name: count, Length: 98791, dtype: int64
Unique values: [312.49408868 284.6291625  331.20986285 ... 516.80908327 319.16497853
 393.67369556]
======================================================================

In [79]:
 df[(df['Age'] < 18) | (df['Age'] > 80)]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,NaN,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
56,0x1656,CUS_0x5407,January,Annk,7580,500-92-6408,Media_Manager,NaN,NaN,8,7,15,3,"Not Specified, Auto Loan, and Student Loan",30,11,17.13,5.0,Standard,1704.18,24.448063,NaN,NM,70.478333,162.441009,Low_spent_Large_value_payments,298.192158,Poor
113,0x16ab,CUS_0xff4,February,NaN,-500,655-05-7666,Entrepreneur,25546.26,NaN,8,7,14,5,"Not Specified, Student Loan, Student Loan, Cre...",16,13,7.83,NaN,Standard,758.44,29.711376,18 Years and 3 Months,Yes,101.328637,300.323232,Low_spent_Small_value_payments,129.933631,Standard
122,0x16b8,CUS_0x33d2,March,Chalmersa,181,965-46-2491,Scientist,31993.78,2942.148333,6,6,7,2,"Payday Loan, and Home Equity Loan",8,14,10.28,1.0,Standard,818.22,27.380109,17 Years and 0 Months,Yes,45.141298,264.257089,Low_spent_Small_value_payments,274.816447,Standard
219,0x1749,CUS_0x3edc,April,Williamso,995,663-16-3845,Accountant,43070.24,3622.186667,3,3,18,1,Debt Consolidation Loan,11,8,8.97,4.0,Standard,1233.10,24.331772,19 Years and 5 Months,Yes,30.576085,74.920375,High_spent_Medium_value_payments,506.722207,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99913,0x25f6f,CUS_0x1619,February,Phil Wahbao,2263,683-59-7399,Media_Manager,20059.98,1523.665000,8,5,12,4,"Home Equity Loan, Payday Loan, Not Specified, ...",25,11,2.97,3.0,Good,909.01,25.982154,16 Years and 4 Months,No,45.076827,74.713580,High_spent_Small_value_payments,292.576093,Poor
99937,0x25f93,CUS_0xad4f,February,Sabina Zawadzkig,-500,226-45-0652,_______,22620.79,1722.065833,7,3,9,<NA>,NaN,25,<NA>,5.31,2.0,Standard,642.46,31.841872,NaN,No,0.000000,105.076293,Low_spent_Large_value_payments,337.130290,Standard
99950,0x25fa4,CUS_0x51b3,July,Ryana,1342,837-85-9800,Media_Manager,59146.36,4908.863333,3,6,6,1,Personal Loan,8,6,6.68,5.0,_,418.03,38.199635,20 Years and 7 Months,No,26.778419,502.376320,Low_spent_Small_value_payments,251.731594,Standard
99963,0x25fb9,CUS_0x372c,April,Lucia Mutikanik,-500,340-85-7301,Lawyer,42903.79,NaN,0,4,6,1,Not Specified,14,0,5.10,1.0,Good,1079.48,30.625298,NaN,No,34.975457,31.193919,High_spent_Large_value_payments,520.662207,Standard
99972,0x25fc6,CUS_0xf16,May,Maria Sheahanb,1753,868-70-2218,Media_Manager,16680.35,1528.029167,1,1,5,4,"Payday Loan, Student Loan, Mortgage Loan, and ...",1,0,5.69,8.0,Good,897.16,37.788217,21 Years and 5 Months,No,41.113561,64.549748,Low_spent_Large_value_payments,317.139608,Standard